&GLOBAL
  PROJECT  cp2k_calc
  RUN_TYPE ENERGY
  PRINT_LEVEL  MEDIUM
&END GLOBAL

&FORCE_EVAL
  METHOD  QS
  &DFT
    BASIS_SET_FILE_NAME  BASIS_MOLOPT
    POTENTIAL_FILE_NAME  GTH_POTENTIALS
    CHARGE  ${charge}
    MULTIPLICITY  ${multiplicity}
    &MGRID
      CUTOFF  ${cutoff}
      NGRIDS  4
      REL_CUTOFF  ${rel_cutoff}
    &END MGRID
    &QS
      METHOD  GPW
      EPS_DEFAULT  1.0E-12
    &END QS
    &SCF
      MAX_SCF  ${max_scf}
      EPS_SCF  ${eps_scf}
      &DIAGONALIZATION
      &END DIAGONALIZATION
      &MIXING
        METHOD  BROYDEN_MIXING
        ALPHA  0.4
        NBROYDEN  8
      &END MIXING
${added_mos_block}
${smear_block}
    &END SCF
    &XC
      &XC_FUNCTIONAL  ${xc_functional}
      &END XC_FUNCTIONAL
    &END XC
  &END DFT
  &SUBSYS
    &CELL
${cell_block}
      PERIODIC  XYZ
    &END CELL
    &TOPOLOGY
      COORD_FILE_NAME  input.xyz
      COORD_FILE_FORMAT  XYZ
    &END TOPOLOGY
${kind_blocks}
  &END SUBSYS
&END FORCE_EVAL
